[url "git@bitbucket.org:"]
	insteadOf = https://bitbucket.org/

[url "git@github.com:"]
	insteadOf = https://github.com/

[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/

[core]
	autocrlf = input

[init]
	defaultBranch = main

[gpg]
	format = ssh

[commit]
	gpgsign = true

# Include local overrides
# This should include user properties like email, name, signingkey
[include]
	path = .gitconfig.local
